<h1>Interactive Data</h1>
<p>Blueprint: </p>
<p><ul>
    <li> User Form with options to variables and populate graphs (dynamic charting)</li>
    <li> Datasets and graphs of key findings from research </li>
    
</ul> 

</p>
<%= line_chart interact_chart_path %>
