<div class="jumbotron jumbotron-fluid">
    <h2>Recessions or Polarization: What Influences Climate Scepticism in the US?</h2>
    <%= link_to "Download Research PDF", 'https://drive.google.com/file/d/1aFPhy9gl3eoVuRgEdLo1uFDXbfO6T-pE/view?usp=sharing',target: "_blank", class: "btn btn-lg btn-primary"%>
    <div class="map">    <%= image_tag("effects.jpg", alt: "map") %>
</div>
    <h3><b> Climate Scepticism Web Application Walkthrough: </b></h3>
    <p>
        <ol> 
        <li> Home: The home page provides usage guidelines and will host PDF copies of the Economics senior thesis and supplementary materials.</li> 
        <li> Library: Provides information and stores the timeseries data used in the thesis.</li>
        <li> Interactive Data: Allows the user to engage in predictive modelling and charting of the Climate Change Sceptic Index (CCSI) based on the Recessionary variable data table.</li>
        <li> CCSI: Provides a written and visual depiction of the CCSI and information about its computation.</li>
        </ol>
<h5><I> About the Logo: “ManBearPig” </I></h5>
<small> ManBearPig is the title of the sixth episode in the tenth season of the hit 
    American animated TV series “South Park”. In the episode,
    Al Gore visits South Park to warn everyone about a creature called ManBearPig, 
    an allegory for global warming. The creature is actually a homage from the 
    eco-horror cult film Prophecy directed by John Frankenheimer wherein the film's 
    monster is a result of, basically, the environment.
    Our icon provides a link to a snippet of this episode. </small>
</p>
</div>

