<footer class=”footer”>
<small>
   Designed by: Gino, Erica, and Abhi.
</small>
<nav>
<ul>
   <li><%= link_to "Interactive Data", controller: "users", action: "new"%></li>
   <li><%= link_to "CCSI", controller: "home", action: "CCSI"%> </li>
   <li><%= link_to "Library", controller: "home", action: "lib"%> </li>
   <li><%= link_to "Home", controller: "home", action: "intro" %></li>
   <li><a href=”http://www.depauw.edu”>DePauw</a></li>
</ul>
</nav>
</footer>
